<form action="/results">
  <button name="player_1" value="rock">rock</button>
  <button name="player_1" value="paper">paper</button>
  <button name="player_1" value="scissors">scissors</button>
  <% params['player_2'] = nil %>
</form>
