<form action="/results">
  <button name="player_2" value="rock">rock</button>
  <button name="player_2" value="paper">paper</button>
  <button name="player_2" value="scissors">scissors</button>
</form>
