<form action="/results">
  <h2>Player 1</h2>
  <input type="radio" name="player_1" value="rock">rock</button>
  <input type="radio" name="player_1" value="paper">paper</button>
  <input type="radio" name="player_1" value="scissors">scissors</button><br>
  <h2>Player 2</h2>
  <input type="radio" name="player_2" value="rock">rock</button>
  <input type="radio" name="player_2" value="paper">paper</button>
  <input type="radio" name="player_2" value="scissors">scissors</button>

  <button type="submit">Submit</button>
</form>
